<%- layout("/layouts/boilerplate.ejs") %>
<div class="row">
  <div class="col-8 offset-2">
    <br />
    <h3>Create a New listings</h3>
    <form
      action="/listings/<%= listing._id %>?_method=put"
      method="post"
      class="needs-validation"
      novalidate
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          id="title"
          name="listing[title]"
          value="<%= listing.title %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter a title</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          id="description"
          class="form-control"
          required
        >
<%= listing.description %></textarea
        >
        <div class="invalid-feedback">Please enter description</div>
      </div>
      <div class="mb-3">
        <label for="imageUrl" class="form-label">Image url</label>
        <input
          type="text"
          id="imageUrl"
          value="<%= listing.image.url %>"
          name="listing[image]"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter a valid link</div>
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="text"
            id="price"
            name="listing[price]"
            value="<%= listing.price %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valid price</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            id="country"
            name="listing[country]"
            value="<%= listing.location %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter Country name</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          id="location"
          name="listing[location]"
          value="<%= listing.country %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter location</div>
      </div>
      <button class="btn btn-dark">Edit</button>
      <br />
    </form>
  </div>
</div>
